<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codrata.concisessc_106">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_ssc106"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_ssc106"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ActivationRegistration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivationActivity"
            android:label="Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivatedApp.MainActivityActivated"
            android:theme="@style/AppTheme" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".DemoApp.MainActivityDemo"
            android:alwaysRetainTaskState="true"
            android:exported="true" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".About" />
        <activity android:name=".DemoApp.WelcomeSelectedDemo" />
        <activity android:name=".DemoApp.DetExpSelectDemo" />
        <activity android:name=".DemoApp.PastQuestionsDemo" />
        <activity android:name=".ActivatedApp.DetExpSelectAc" />
        <activity android:name=".ActivatedApp.PastQuestionsAc" />
        <activity android:name=".ActivatedApp.WelcomeSelectedAc" />
        <activity android:name=".DemoApp.TabsDemo" />
        <activity android:name=".ActivatedApp.TabsActivated" />

    </application>

</manifest>